.banner{
	
	width: 1200px;
	
	height: 400px;
	
	
	margin: 0 auto ;
	
	position: relative;
	
	top: 35px;
}



.banner .bannerBox{
	
	width: 800px;
	height:  40px;
	position: absolute;
	
	bottom: 0px;
	
	
	
}

.bannerBox .bannerList{
	
	list-style: none;
	
}


.bannerList .bannerItem{
	
	float: left;
	
	width: 20%;
	height: 100%;

}


.bannerItem .title{

	line-height: 45px;
	font-size: 14px;
	text-align: center;
	height: 45px;
	background: #e3e2e2;
	color:#ab8e66;
	cursor: pointer;
	
}


.bannerItem .img{
	
	position: absolute;
	
	width: 800px;
	height: 360px;
	
	left: 0;
	
	top: -360px;
	
	
	opacity: 0;
	
	
	transition: all 0.5s;
	
	z-index: 50;
	
}

.bannerList .bannerItem:nth-child(1) .title{
	background: #e3e2e2;
	color:#ab8e66;
	box-sizing:border-box;

	
}


.bannerList .bannerItem:nth-child(1) .img{
	
	opacity: 1;
}


.bannerList .bannerItem:hover .img{
	
	opacity: 1;
	
	z-index: 51;
}


.bannerList .bannerItem:hover .title{
	
	background:#e3e2e2;
	color:#424242;
}


.banner .companyBox{
	
	/*background: red;*/
	height: 405px;
	position: absolute;
	right: 0;
	width: 380px;

}


.companyBox .top{
	
	background: blue;
	width: 100%;
	height: 150px;
	
	cursor: pointer;
}

.companyBox .bottom{
	list-style: none;
	
	position: relative;
	
	top: 10px;
	
}

.companyBox .bottom .item{
	float: left;
	width: 31.7%;
	margin: 3px;

	height: 50px;
	line-height: 50px;
	font-size: 15px;
	color:  rgb(88,88,88);
	background: white;
	text-align: center;
	
	cursor: pointer;
	
}






